<ion-view view-title="Loads">
  <!-- Add a nav button to the primary location -->
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="state.reorder = !state.reorder">Sort</button>
  </ion-nav-buttons>

  <!-- ionContent is used to wrap scrollable content -->
  <ion-content>
    <!-- ionRefresher activates when the user pulls down and calls getQuotes() -->
    <ion-refresher on-refresh="loads.getLoads()"></ion-refresher>
    <!-- ionList allows us to make a complex list with swipe buttons, reordering, and more -->
    <ion-list show-reorder="state.reorder">
      <!-- Repeat over each quote, to display the current details and name -->
      <ion-item ng-repeat="load in loads.loads" class="item-light">

        <div>{{load.title}}</div>

        <!-- Option and reorder button for list items -->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
